<div fxLayout="row wrap" class="acessa-citi">
    <div fxFlex="100" class="title">
        Cadastro Prefeitura
    </div>
    <form [formGroup]="formCreatCityHall" (ngSubmit)="onCityHall">
        <app-loading></app-loading>
        <div fxFlex="1000">
            <mat-card>
                <mat-card-content>
                    <mat-form-field>
                        <input matInput type="text" placeholder="Nome da Prefeitura" formControlName="nameCityHall" (input)="chageData()">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="text" placeholder="E-MAIL" formControlName="emailCityHall" (input)="chageData()">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="password" placeholder="Senha" formControlName="passwordCityHall" (input)="chageData()">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="text" placeholder="CNPJ" formControlName="cnpjCityHall" (input)="chageData()">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="text" placeholder="Logradouro" formControlName="LogradouroCityHall">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Estado</mat-label>
                        <mat-select formControlName="stateCityHall" multiple [compareWith]="compareObjects">
                            <mat-options>

                            </mat-options>
                        </mat-select>
                    </mat-form-field>
                </mat-card-content>
            </mat-card>
        </div>
    </form>
</div>